<div class="card" id="login_card"> 
  <div class="card_header">
    <h5>Log In</h5> 
  </div> 
  <div class="card_body">
    <form>
      <label for="email-login" class="form_label">Email:</label>
      <input type="text" id="email-login" class="form_input" autocomplete="off" />

      <label for="password-login" class="form_label">Password:</label>
      <input type="password" id="password-login" class="form_input" autocomplete="off" />
      <button type="submit" class="btn" id="login-form">Login!</button> 
       &nbsp;&nbsp;&laquo;<a href="/signup">Sign up instead  </a> &nbsp;&raquo;
    </form>  
  </div>
</div>

<script src="/javascript/login.js"></script>